ExemploServiço/ExemploClient/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53142/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExemploServi%C3%A7o" />
  <xs:element name="Mensagem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MensagemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MensagemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Somar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SomarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SomarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataHoraServidor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataHoraServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataHoraServidorResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfertaDoDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OfertaDoDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExemploServi%C3%A7o" minOccurs="0" name="OfertaDoDiaResult" nillable="true" type="q1:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>